<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haiden.mapper.UserMapper">

    <sql id="querySql">
        <if test="username!=null and username!=''">
            and username like #{username}
        </if>
        <if test="sex!=null and sex!=''">
            and sex = #{sex}
        </if>

    </sql>

    <resultMap id="userMap" type="com.haiden.bean.User">
        <id column="u_ic" property="uId"></id>
        <result column="u_name" property="uName"></result>
        <result column="u_sex" property="uSex"></result>
        <result column="u_age" property="uAge"></result>
    </resultMap>
    <select id="getUsers" resultMap="userMap">
        select * from user
    </select>
    <insert id="addUser">
        insert into user values (null,#{username},#{birthday},#{sex},#{address})
    </insert>

    <select id="getUserByNameAndsex" resultType="com.haiden.bean.User">
        select * from user where 1 = 1
        <include refid="querySql"></include>

    </select>
    <select id="getUserByNameAndsex1" resultType="com.haiden.bean.User">
        select * from user
        <where>
           <include refid="querySql"></include>
        </where>
    </select>

    <select id="getUserByNameAndsex2" resultType="com.haiden.bean.User">

        select * from user
        <trim prefix="where" prefixOverrides="and" >
            <include refid="querySql"></include>
        </trim>
    </select>

    <insert id="saveBatch">
        insert into user values
        <foreach collection="list" item="user" separator=",">
            (null,#{user.username},#{user.birthday},#{user.sex},#{user.address})
        </foreach>

    </insert>


</mapper>